.layout{
    min-height: 100vh;
    display: grid;
    grid-template-areas: 
        "header"
        "content"
        "footer"
    ;
    grid-template-rows: min-content auto $footer-height;
    background-color: $layout-bg-color;
}