@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Courgette Regular";
  src: url("../fonts/Courgette-Regular.ttf");
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Roboto Regular";
}

.layout {
  min-height: 100vh;
  display: grid;
  grid-template-areas: "header" "content" "footer";
  grid-template-rows: min-content auto 250px;
  background-color: #f7f7f7;
}

.header {
  grid-area: header;
  display: grid;
  grid-template-areas: "topbar" "jumbotron" "navbar";
  grid-template-rows: 75px min-content 75px;
  background-color: #fff;
  z-index: 10;
}

.header__topbar {
  grid-area: topbar;
  background-color: #fff;
  box-shadow: 1px 2px 5px -5px #000;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}
.header__topbar__menu {
  font-size: 1.25rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.header__topbar__menu__item {
  display: flex;
  height: 100%;
  padding: 0.5rem;
  align-items: center;
  position: relative;
}
.header__topbar__menu__item::after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  width: 100%;
}
.header__topbar__menu__item:hover::after {
  background-color: #000;
}
.header__topbar__branding {
  display: flex;
  align-items: center;
}
.header__topbar__branding img {
  width: 50px;
  height: 50px;
}
.header__topbar ul {
  list-style-type: none;
  padding-inline-start: 0px;
}
.header__topbar a {
  text-decoration: none;
  color: inherit;
}

.header__navbar {
  grid-area: navbar;
  background-color: #fff;
  box-shadow: 1px 2px 5px -5px #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__navbar__menu {
  display: flex;
  column-gap: 1rem;
}
.header__navbar__menu__item {
  cursor: pointer;
  padding: 1rem 2rem;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}
.header__navbar__menu__item:hover {
  border-bottom: 5px solid black;
}
.header__navbar__menu__item a {
  font-family: "Courgette Regular" !important;
}
.header__navbar ul {
  list-style: none;
  padding-inline-start: 0px;
}
.header__navbar a {
  text-decoration: none;
}

.header__jumbotron {
  grid-area: jumbotron;
  min-height: 500px;
  position: relative;
}
.header__jumbotron__image-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.header__jumbotron__image-overlay::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2666666667);
}
.header__jumbotron__image-overlay img {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  object-position: 50% 30%;
}
.header__jumbotron__branding {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.header__jumbotron__branding .brand-logo {
  padding: 3rem;
  border-radius: 50%;
  background-color: #292929;
  z-index: 100;
  height: 225px;
  border-left: 5px solid #255676;
  border-right: 5px solid #802840;
}
.header__jumbotron__branding .brand-name {
  font-size: 3rem;
  font-family: "Courgette Regular";
  color: #fff;
}

.content-container {
  grid-area: content;
  display: flex;
  justify-content: center;
}
.content-container__content {
  width: 100%;
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media screen and (min-width: 992px) {
  .content-container__content {
    width: 80%;
    padding-left: 0;
    padding-right: 0;
  }
}

.about-us {
  margin-top: 100px;
  margin-bottom: 100px;
}
.about-us__headline {
  width: 100%;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
@media screen and (min-width: 992px) {
  .about-us__headline {
    width: 50%;
  }
}
.about-us__introduction {
  display: flex;
  column-gap: 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}
@media screen and (min-width: 992px) {
  .about-us__introduction {
    width: 80%;
  }
}
.about-us__introduction .article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 50%;
}
.about-us__introduction .article h1 {
  margin-bottom: 1rem;
}
.about-us__introduction .article p {
  color: rgb(102, 102, 102);
  margin-bottom: 1rem;
}
.about-us__introduction .image {
  flex: 1 1 50%;
}
.about-us__introduction .image img {
  border-radius: 2rem;
  object-fit: cover;
  height: 500px;
  width: 100%;
}
.about-us__services {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
@media screen and (min-width: 992px) {
  .about-us__services {
    width: 80%;
  }
}
.about-us__services h1 {
  text-align: center;
}
.about-us__services__list {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  column-gap: 5rem;
  align-items: center;
}
.about-us__services__list__item {
  text-align: center;
}
.about-us__services__list__item i {
  color: #3b82f6;
  font-size: 7rem;
}
.about-us__services__list__item p {
  margin-top: 1rem;
  font-family: "Courgette Regular";
  font-size: 1.25rem;
  color: rgb(110, 110, 110);
}
.about-us__services ul {
  padding-inline-start: 0px;
  list-style: none;
}

.footer {
  grid-area: footer;
  background-color: #fff;
  box-shadow: 2px -1px 8px -5px #000;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.footer__business-address {
  color: #616161;
  text-align: center;
  font-size: 0.875rem;
}
.footer__copyright {
  color: #616161;
  font-size: 0.875rem;
  text-align: center;
}
.footer__socials {
  font-size: 1.25rem;
  text-align: center;
}
.footer__socials__list {
  display: flex;
  column-gap: 1rem;
  justify-content: center;
}
.footer ul {
  padding-inline-start: 0px;
  list-style: none;
}
.footer a {
  text-decoration: none;
  color: inherit;
}

/*# sourceMappingURL=style.css.map */
